/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  min-width: 450px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.buttontoolbar{
  margin-top: 1em;
}
