.signup h2, .signup h3 {
  font-family: "Junegull";
  color: #2A6496;
}
.signup h2 {
  font-size: 250%;
}
.signup h3 {
  font-size: 200%;
}
#signForm {
  padding-bottom: 30px;
}
#signForm label {
  margin-top: 10px;
  font-size: 150%;
}
#signForm input {
  height: 40px;
  font-size: 150%;
}
