h2.trips{
  border-bottom: 2px solid #009BFF;
  color: #2A6496;
  font-family: "Junegull";
  font-size: 300%;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
.alert.trips {
  margin-top: 30px;
}
.modal-title, .modal-body h1 {
  color: #2A6496;
  font-family: "Junegull";
  font-size: 200%;
}
.modal-body h1 {
  margin-bottom: 20px;
  font-size: 150%;
}
.modal-body label {
  font-size: 120%;
}
.trip {
  margin: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
  border-style: dashed;
  border-color: #009BFF;
  width: 60%;
}
